@model WebApplication1.Models.ResponseModel
@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });

    function drawChart(dataRates) {
        var data = google.visualization.arrayToDataTable(dataRates);

        var options = {           
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
</script>

<div >
<div id="curve_chart" style="width: 900px; height: 500px; float: left;"></div>

<ul style="list-style-type: none; float: right;margin-top: 100px">
    <li><span style="font-size: 20px">Base Currency</span></li>
    <li>
        <select id="baseCurrency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="RUB">RUB</option>
            <option value="CAD">CAD</option>
        </select>
    </li>
    @*<li><textarea id="baseCurrency"></textarea></li>*@
    <li><span style="font-size: 20px">Wanted Currency</span></li>
    @* <li><textarea id="wantedCurrency"></textarea></li>*@
    <li>
        <select id="wantedCurrency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="RUB">RUB</option>
            <option value="CAD">CAD</option>
        </select>
    </li>
    <li><span style="font-size: 20px">Start Date</span></li>
    <li><textarea id="startDate"></textarea></li>
    <li><button id="draw" onclick="getDrawTable();">Draw</button></li>
</ul>
</div>

<ul style="list-style-type: none; margin-top: 500px;">
    <li><span style="font-size: 20px">Convert from</span></li>
    <li><textarea id="from"></textarea></li>
    <li><span style="font-size: 20px">Convert to</span></li>
    <li><textarea id="to"></textarea></li>
    <li><span style="font-size: 20px">Convert amount</span></li>
    <li><textarea id="amount"></textarea></li>
    <li><button id="doConvert" onclick="convert();">Convert</button></li>
    <li><span>Result = </span><span id="result"></span></li>
</ul>


<div>
    <h2>EUR Rates</h2>
    <ul style="list-style-type: none" id="rates" />
</div>

<div>
    <h2>Any Rates</h2>
    <textarea id="rateType"></textarea>
    <button onclick="getAnyRate()">Get</button>
    <ul style="list-style-type: none" id="anyRates" />
</div>


<div>
    <h2>Get EUR rates from date</h2>
    <textarea id="rateDate"></textarea>
    <button onclick="getDateRates()">Get</button>
    <ul style="list-style-type: none" id="dateRates"></ul>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    $(document).ready(function () {
        $.getJSON("api/Rates")
            .done(function (data) {
                $.each(data,
                    function (key, item) {
                        $('<li>', { text: formatItem(item) }).appendTo($('#rates'));
                    });
            });
    });

    function getAnyRate() {
        var rateType = $("#rateType").val();
        var uri = "api/Rates/" + rateType;
        $("#anyRates").empty();
        $.getJSON(uri)
            .done(function (data) {
                $.each(data,
                    function (key, item) {
                        $('<li>', { text: formatItem(item) }).appendTo($('#anyRates'));
                    });
            });
    }

    function getDrawTable() {
        var base = $('#baseCurrency').val();
        var currency = $('#wantedCurrency').val();
        var date = $('#startDate').val();
        var uri = "api/Rates/Graph/" + base + '/' + currency + '/' + date;
        $.getJSON(uri)
            .done(function(data) {
                var length = data.dates.length;
                var arr = [];
                for (var i=0;i<length;i++) {
                    arr[i] = [];
                }
                arr[0] = ['Date', data.currencyType];
                for (var i = 1; i < length; i++) {
                    arr[i][0] = data.dates[i - 1];
                    arr[i][1] = data.rates[i - 1];
                }
                drawChart(arr);
            });
    }

    function getDateRates() {
        var date = $('#rateDate').val();
        var uri = "api/Rates/Date/" + date;
        $('#dateRates').empty();
        $.getJSON(uri)
            .done(function (data) {
                $.each(data,
                    function (key, item) {
                        $('<li>', { text: formatItem(item) }).appendTo($('#dateRates'));
                    });
            });
    }



    function formatItem(item) {
        return item.currencyType + ': ' + item.exchangeRate;
    }

    function formatConvert(item) {
        return 'According to: ' + item.date + ' Result is: ' + item.result;
    }

    function convert() {
        var from = $('#from').val();
        var to = $('#to').val();
        var amount = $('#amount').val();
        var uri = "api/Rates/" + from + '/' + to + '/' + amount;
        $.getJSON(uri)
            .done(function (data) {
                $('#result').text(formatConvert(data));
            })
            .fail(function (jqXHR, textStatus, err) {
                $('#result').text('Error: ' + err);
            });

    }
</script>
