
@{
    ViewData["Title"] = "Register";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/forms.css" rel="stylesheet" />

<div class = "containerForm">
    <div class="form-group">
        <h3>Register</h3>
        <label>Input email</label><br />
        <input type="email" class="form-control" id="emailReg" /> <br /><br />
        <label>Input Password</label><br />
        <input type="password" class="form-control" id="passwordReg" /><br /><br />
        <label>Confirm Password</label><br />
        <input type="passwordConfirm" class="form-control" id="confirm" /><br /><br />
        <input type="submit"  class="btn btn-primary" id="submitRegister" value="Register" />
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
    $('#submitRegister').click(function(e) {
        e.preventDefault();
        var registerData = {
            Email: $('#emailReg').val(),
            Password: $('#passwordReg').val(),
            ConfirmPassword: $('#confirm').val()
        }
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/registerToken',
            data: JSON.stringify(registerData),
            success: function (data) {
                sessionStorage.setItem('tokenKey', data.access_token);
                console.log(data.access_token);

                var token = sessionStorage.getItem('tokenKey');
                window.location.href = "/home"
            }
        })
    })
</script>